NUXT_DB_HOST=127.0.0.1
NUXT_DB_PORT=5432
NUXT_DB_NAME=todays_tuptus
NUXT_DB_USER=todays_tuptus
NUXT_DB_PASSWORD=
NUXT_AUTH_SECRET=
NUXT_ADMIN_SECRET=
AUTH_ORIGIN=http://localhost:3000/api/auth
DOCKER_DB_HOST=postgres
DOCKER_DB_PORT=5432
RUN_MIGRATIONS=false
